<div class="bg">
  <div class="content">
    <div class="photos">

      <figure class="aunyx">
        <img src="../../assets/img/AunyxB.jpg" class="profile-pic" />
        <figcaption>Aunyx Burrell</figcaption>
        <figcaption>co-founder</figcaption>
      </figure>
      <!--END .aunyx-->

      <figure class="lee">
        <img src="../../assets/img/LeeB.jpg" class="profile-pic" />
        <figcaption>Lee Burrell</figcaption>
        <figcaption>co-founder</figcaption>
      </figure>
      <!--END .lee-->

    </div>
    <!--END .photos-->
    <div class="text-blocks">
      <h1>ABOUT US</h1>
      <p class="about-us">
        Influenced by natural elements, we aspire to create a unique "Joie de Vivre" experience for everyone. We design guilt-free
        gourmet goodies that are beautiful, eco-friendly and ethically made. One of our primary ingredients is Olive Oil.
        Olive Oil has been and continues to be used throughout many cultures for its mild cleansing and moisturizing properties.
        We draw on ancient traditions with our modern techniques to produce premium quality personal care items. We work
        in small batches as to not waste and to carefully monitor quality. We truly enjoy crafting fresh handmade beauty
        products, naturally.
      </p>

    <div class="blurb">
      <p>Bringing the Luxury of the Spa to the Comfort of Your home... Amenta's Key specializes in natural, vegan/vegetarian,
        eco-friendly handmade artisan soap, scrubs, butters & other gourmet bath & body treats! Amenta's Key products are
        95-100% natural and never tested on animals.</p>
    </div>
    <!--END .blurb-->

      <div class="collections">
        <article>
          <h1>Bath Soaks</h1>Bath Soaks- Hard day at work? Working on your beach body all week and now you need to rejuvenate? Or maybe
          you just need to release some stress that's been weighing on you... In any case, a nice soothing soak is precisely
          the remedy for relaxation. Here you will find our Bath Salts, Fizzing Bath Bombs, Luxuriously Moisturizing Bath
          Truffles, Herbal Bath Tea and everything you need to detox from your daily tasks.</article>
        <article>
          <h1>Handmade Soap</h1>Handmade Soap- Our luxuriously natural handmade artisan soaps are carefully crafted in Snellville, GA USA.
          We use 95-100% FRESH natural ingredients and work in small batches to ensure quality. These soaps are eco-friendly
          and make great gifts for yourself or someone special. We have a variety of soap designs to choose from, ranging
          from simple elegance to extra decadent!</article>
        <article>
          <h1>Body Polishes & Scrubs</h1>Body Polishes and Scrubs- The Amenta's Key Body Icing Collection consists of our most adored Sweet &
          Salty Sugar Scrub™, Exfoliating Lip Sugar, Triple Whipped Body Batter™, Natural Body Balms, Salves and Scented
          Body Oils. These items are essential to your skincare routine if your goal is soft, touchable skin!</article>
      </div>
      <!--END .collections-->

    </div>
    <!--END .text-blocks-->
  </div>
  <!--END .content-->

</div>
<!--END .bg-->