<div class="page-wrapper">


<div class="web-form">
  <h1>Contact Us</h1>
  <form method="POST" action="https://formspree.io/contact@rrell.com">


                    <input md-input type="text" name="name" placeholder="Name">

                    <input type="text" name="company" placeholder="Organization">

                    <input type="email" name="email" placeholder="Your email">

                    <textarea name="message" placeholder="  Your message"></textarea>
                    <div class="spacer"></div>

                    <button  type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
                </form>

</div>



</div><!--END .page-wrapper-->