<div class="root">
<app-header></app-header>
<router-outlet></router-outlet>
<div class="footer">
    <a href="https://www.facebook.com/AmentasKeyLLC/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/amentaskeyllc/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.etsy.com/shop/AmentasKeyLLC"><i class="fa fa-etsy fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.pinterest.com/NaturallyLuxe/"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/amentaskeyllc"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
    <img src="./assets/img/lotus150.png" class="lotus">
    </div>
<p>&copy; Amenta's Key 2017</p>
</div>
