<div class="front-page">
   <div class="create"><a [routerLink]="['create']"><p class="title-box">Create</p></a></div>
    <div class="shop"><a href="https://www.etsy.com/shop/AmentasKeyLLC"><p class="title-box">Shop</p></a></div>
    <div class="blog"><a href="https://amentaskeyllc.wordpress.com/"><p id="blog-text" class="blog-text">Blog</p></a></div>
    <div class="vip"><a href="https://www.facebook.com/groups/vipamentaskey"><p id="vip-text" class="vip-text">Join the Community</p></a></div>

</div><!--/.front-page-->